<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid ">
        <h1 style="color: aliceblue;">Admin</h1>
        <div class="d-flex">
            <button class="btn btn-success btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
                Post</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Post Title </th>
            <th scope="col">Post Slug</th>
            <th scope="col">Post Author</th>
            <th scope="col">Post Description</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <button  type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                <button type="button" class="btn btn-danger mx-3" >Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1">First name</label>
                        <input formControlName="firstName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            >
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1">Last Name</label>
                        <input formControlName="lastName" type="text" class="form-control" id="exampleInputPassword1" >
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1">Salary</label>
                        <input formControlName="salary" type="text" class="form-control" id="exampleInputPassword1" >
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" >Add</button>
                <button  type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>